@mixin grider($col,$rows) {
    display: grid;
    grid-template-columns: $col;
    grid-auto-rows: $rows;
}
@mixin boxer($gdcol, $gdrow){
    display: grid;
    grid-column: $gdcol;
    grid-row: $gdrow;
}
@mixin button($border,$bkclr,$clr,$bdrd){
    border: $border;
    background-color: $bkclr;
    color: $clr;
    border-radius: $bdrd;
}
.bdy-cont{
    @include grider(1fr 3fr 4fr, minmax(50vh,auto) );
    margin-top: 100px;
    grid-auto-rows: minmax(30vh, auto);
    /*div:nth-child(odd){
        background-color: gray;
    }*/
}
.box4{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../assets/Placeholder1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.box5{
    //@include boxer('5/7','1');
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto 40px;
    border: none;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #ee940c;
}
.box9{
    hr{  
        border: 1px solid #807e7e;
        width: 10px;
    }    
    max-height: 35vh;
}
.box10{
    grid-column: 1/5;
    grid-row: 3;
}
.box13{
    grid-column: 1/3;
    grid-row: 4/5;
    background-size: cover;
    background-image: url('../assets/Placeholder6.png');
    margin-top: 25px;
}
.box14{
    grid-column: 3/5;
    grid-row: 4/5;
    padding: 10px 60px;

}
.txt-lg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;     
}
.txt-sm{
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
    span{
        color: #363636;
        font-size: 18px;
    }
}
.hooper-slide.is-current {
    transform: scale(1.2);
}
@media(max-width: 800px){
    .txt-lg{font-size: 15px;}
    .txt-sm{font-size: 8px;}
}
@media(max-width: 450px){
    .txt-lg{font-size: 10px;}
    .txt-sm{
        font-size: 5px;
        span{
            font-size: 7px;
        }
    }
    .box5{margin: auto 20px;}
    .box14{padding: 20px;}
}
@media(max-width: 380px){
    .box14{
        padding: 5px;
        margin: 10px;
    }
}