@mixin grider($col,$rows) {
    display: grid;
    grid-template-columns: $col;
    grid-auto-rows: $rows;
}
@mixin boxer($gdcol, $gdrow){
    display: grid;
    grid-column: $gdcol;
    grid-row: $gdrow;
}
@mixin button($border,$bkclr,$clr,$bdrd){
    border: $border;
    background-color: $bkclr;
    color: $clr;
    border-radius: $bdrd;
}

.nav-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;    
}
.menu span{
    display: block;
    height: 3px;
    margin: 5px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    display: block;
    cursor: pointer;
}
.menu :hover{
    width: 25px;
    background-color: aqua;
}
.one{
    width: 35px;
}
.two{
    width: 20px;
}
.three{
    width: 35px;
}
.searchInput {
    border:none;
    background: none;
    outline: none;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    width: 0px;

}
.active {
    width: 150px;
    padding: 8px 30px;
}
.searchBox {
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 35px;
    border-radius: 30px;
    padding: 0px;
    margin-top: -30px;

}
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 8px 30px;
}
.searchBox:hover > .searchButton {
    background: white;
    color : #2f3640;
    border-color: white;
  }
.searchButton {
    color: white;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #2f3640;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    outline: none;
    cursor: pointer;
}
.menu-items{
    position: static;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px 20px;
    transition: all 600ms ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.menu-items>ul{
    margin-left: -37px;
    list-style: none;
}
.menu-items>ul>li{
    margin: 10px auto;
    font-weight: bolder;
    cursor: pointer;
    a{
        color: #2f3640;
        text-decoration: none;
        
    }
}
.menu-items a:hover{color: aqua;}
.menu-items.dropper{
    position: fixed !important;
    display: flex;
    margin-top: -200px;
    width: inherit;
}
.hdr-cont{
    @include grider(3fr 3fr, minmax(1fr, 50vh));
    margin-top: 15px;
}
.box1{
    display: grid;
    grid-column: 1/2;
    grid-auto-rows: auto;
    @include grider(1fr, '');
    grid-auto-rows: minmax(10vh, 50vh);

    div{
        padding: 10px 70px;
        margin: 2px;
           
        .hdr-txt-lg{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: bold;
        }
        .hdr-txt-sm{
            font-size: 15px;
            color: #697079;
            font-weight: lighter;
        }
        button{
            @include button(2px solid blue,blue , white , 2px);
            width: 120px; 
            height: 25px;

            
        }
        button:hover{
            background-color: blueviolet;
            cursor: pointer;
        }
    }
}
.box2{
    display: grid;
    grid-column: 2/3;
    background-image: url("../assets/hdrPlaceholder.jpg");
    background-size: cover;
}
.box3{
    background-image: url("../assets/Placeholdervideo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:42vw;
    height:35vh;
    position: absolute;
    z-index: 1;
    top: 45vh;
    left: 45vw;
}

@media (max-width: 768px) {
    .searchBox:hover > .searchInput {
        width: 100px;
        padding: 0 6px;
    }
    .box1{
        div{
            margin: auto 25px;
            padding: 0px;
        }
    }
    .box1>div>.hdr-txt-lg{
        font-size: 20px;
    }
}
@media (max-width: 380px) {
    .searchBox:hover > .searchInput {
        width: 60px;
        padding: 15px;
    }
    .box3{
        top: 50vh;
        left: 48vw;
    }
}